{% extends "base_form.html"%}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap_toolkit %}

{% block title %}Origem de Oportunidades{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cadastros Básicos" "/core/cadastros/" %}
    {% breadcrumb "Origens" "/oportunidade/origem/" %}
    {% breadcrumb form.nome.value|add:' ' "/" %}
{% endblock %}

{% block breadcrumbrender %}
    {% render_breadcrumbs %}
{% endblock %}


{% block formRender %}
    <div class="row">
        <div class="col-lg-6 ">
            <div class="response_form alert alert-dismissable"><span></span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 top-buffer-10">
            <form class="form-horizontal" redirect_data="{% url 'oportunidade.list_origem' %}" method="post" action="{{ request.get_full_path }}" id="formOrigens" onSubmit="return false;">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                {% block button %}
                    {{ block.super }}
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}
